<main>
  <app-learning-resources />

  <hr />

  <app-auth />
<!--
  @if(isAdmin())
  {
    <p>admin logged in</p>
  } -->

  <ng-template appAuth="admin">
    <p>admin logged in</p>
  </ng-template>

  <p *appAuth="'admin'" class="protected-content admin">admin logged in</p>
  <p *appAuth="'user'" class="protected-content unauthenticated">User logged in</p>
  <p *appAuth="'guest'" class="protected-content authenticated">guest can only see this<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        href=""
        rel="stylesheet"
      />
      <title></title>
    </head>
    <body>
      <h1></h1>
    </body>
  </html></p>

</main>
